# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente Virtual
venv/
.env
*.env
.venv

# Logs e Dados Temporários
*.log
debug.log
.DS_Store

# Arquivos do FAISS
faiss_index_file

# Arquivos de Banco de Dados
db.sqlite3
*.db
*.sql

# Docker
*.dockerignore
Dockerfile

# Configurações do Editor
.vscode/
.idea/
*.iml

# Arquivos do Git
.git/
*.swp
