faiss-cpu==1.8.0
huggingface-hub==0.29.1
markdown-it-py==3.0.0
PyMySQL==1.1.1
pytest==8.2.1 
SQLAlchemy==2.0.38
streamlit==1.40.0
transformers==4.39.3 
sentence-transformers==3.4.1
rank_bm25==0.2.2
urllib3==2.3.0
torch==2.2.2  
accelerate==1.8.1 
python-dotenv==1.0.1
