faiss-cpu==1.8.0
huggingface-hub==0.29.1
markdown-it-py==3.0.0
PyMySQL==1.1.1
pytest==8.3.5
SQLAlchemy==2.0.38
streamlit==1.40.0
transformers==4.49.0
sentence-transformers==3.4.1
rank_bm25==0.2.2
urllib3==2.3.0
torch==2.6.0
accelerate==1.4.0
python-dotenv==1.0.1
groq==0.18.0